.hehe{
	background-color: #2f2f2f;
	min-height: 100px;
	width: 350px;
	float: right;
	margin-right:20px;
	margin-top: 150px;
	margin-right:75px;
	color: white;
	font-size: 18px;
	font-family: helvetica;
	text-align: left;
	padding-left: 4%;
}

.xoxo {
	margin: 3%;
	width: 600px;
	background-color: #2f2f2f;
	color: white;
	font-size: 18px;
	font-family: helvetica;
	padding: 2%;
}
.hihi {
	border: solid 5px;
	width: 600px;
	color: #2f2f2f;
	font-size: 15px;
	font-family: helvetica;
	text-align: center;
	padding: 2%;
	text: bold;
}
.info {
	display:none;
    position: fixed;
	z-index:1;
    left: 0;
    top: 0;
    width: 100%;
    height: 110%;
	background-color: rgba(0,0,0,0.5);
	overflow: scroll;
}

.info-content {
    margin-top: 8%;
	margin-bottom: 8%;
    border: 8px solid #1f2123;
    width: 70%;
	padding-bottom: 40px;
	font-family: 'Droid Serif', serif;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}

hr {
	border: 8px solid #1f212;
}
	
.button{
	border:none;
	height: 40px;
	width: 90px;
	font-size: 20px;
	background-color: rgba(0,0,0,0.6);
	padding:5px;
	color: white;
	text-align: center;
}

.button:hover{
	opacity:0.5;
	cursor:pointer;
	color:black;
	position:
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

.informational {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.animate {
    animation: zoom 0.6s;
}

/* CONTENT */

header{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;
	}
	
.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;
	color: #2f2f2f;

}

.subhead1{
    text-transform: uppercase;
    padding: 12px 0 12px 0;
	width:100%;
	margin:auto;
	padding:0;
	text-align: center;
	font-family: Courier New;
	color: #2f2f2f;
	font-size: 20px;
}

/* END OF CONTENT */
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)};
}



	
/* END OF INFO STYLE*/

body {
	background-color: black;
	overflow: auto;
	}
h1 {
	color: #eeeeee;
	font-family: Courier New;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
	text-align: center;
	padding-left: 2%;
	}
td {
    font-family: helvetica;
	font-size: 15px;
	height: 10px;
	margin: 0;
    padding: 0;
	cursor: pointer;
	}
h2 {
    font-family: helvetica;
	font-size: 17px;
	height: 10px;
	margin: 0;
    padding: 0;
	}
th {
	text-align: center;
	font-family: helvetica;
	color: #f9f7f1;
	font-size: 70%;
	inset: 10%;
	}
h3  {
	font-family: helvetica;
	color: #eeeeee;
	font-size: 100%;
	inset: 10%;
	}
sup {
	font-size: 60%;
	text-align: left;
	}
span {
	font-size: 50%;
	text-align: center;
	}
h6 {
	font-size: 50%;
	text-align: center;
	}
.periodic {
	table-layout: fixed;
	padding: 2%;
   width: 100%;
   color: #33394f;
   }	
   
/* metals chenese */

/* slider */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFC0CB;
}

.item, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10 { 
	border: solid 5px;
	}

/* enddddd */

.alkali {	
	text-shadow: 0 0 10px #ecbe59;
	color: #ecbe59;
	transition: transform .3s;
	cursor: pointer;
	}
.alkali:hover {
	transform: scale(1.3);
	cursor: pointer;
	}
	
.earth {
	text-shadow: 0 0 10px #dee955;
	color: #dee955;
	transition: transform .3s;
	cursor: pointer;
	}
.earth:hover {
	transform: scale(1.3);
	cursor: pointer;
	}

.Lanthanides {
	text-shadow: 0 0 10px #ec77a3;
	color: #ec77a3;
	transition: transform .3s;
	cursor: pointer;
	}
.Lanthanides:hover {
	transform: scale(1.3);
	cursor: pointer;
	}
	
.Actinoids {
	text-shadow: 0 0 10px #c686cc;
	color: #c686cc;
	transition: transform .3s;
	cursor: pointer;
	}
.Actinoids:hover {
	transform: scale(1.3);
	cursor: pointer;
	}
	
.transition {
	text-shadow: 0 0 10px  #fd8673;
	color:  #fd8673;
	transition: transform .3s;
	cursor: pointer;
	}
.transition:hover {
	transform: scale(1.3);
	cursor: pointer;
	}	
	
.post {
	text-shadow: 0 0 10px  #4cddf3;
	color:  #4cddf3;
	transition: transform .3s;
	cursor: pointer;
	}
.post:hover {
	transform: scale(1.3);
	cursor: pointer;
	}

.metalloid {
	text-shadow: 0 0 10px  #3aefb6;
	color:  #3aefb6;
	transition: transform .3s;
	cursor: pointer;
	}
.metalloid:hover {
	transform: scale(1.3);
	cursor: pointer;
	}

.other {
	text-shadow: 0 0 10px  #52ee61;
	color:  #52ee61;
	transition: transform .3s;
	cursor: pointer;
	}
.other:hover {
	transform: scale(1.3);
	cursor: pointer;
	}
	
.noble {
	text-shadow: 0 0 10px  #759fff;
	color:  #759fff;
	transition: transform .3s;
	cursor: pointer;
	}
.noble:hover {
	transform: scale(1.3);
	cursor: pointer;
	}

.unknown {
	text-shadow: 0 0 10px  #cccccc;
	color:  #cccccc;
	transition: transform .3s;
	cursor: pointer;
	}
.unknown:hover {
	transform: scale(1.3);
	cursor: pointer;
	}
	
#H {
	background-image: url(Period/Elements.png);
    overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#H:hover {
	color: #52ee61;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/hydrogen.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;
	}
#He {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #759fff;
	border: solid 3px;
	text-shadow: 0 0 10px #759fff;
	transition: transform .1s
	}
#He:hover {
	color: #759fff;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/helium.jpg); 
	background-size: 100px;
	background-position: center;
	box-shadow: 0 0 10px #759fff;
	}
#Li {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ecbe59;
	border: solid 3px;
	text-shadow: 0 0 10px #ecbe59;
	transition: transform .1s
	}
#Li:hover {
	color: #ecbe59;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Lithium.jpg); 
	background-size: 100px;
	background-position: center;
	box-shadow: 0 0 10px #ecbe59;
	}
#Be {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #dee955;
	border: solid 3px;
	text-shadow: 0 0 10px #dee955;
	transition: transform .1s
	}
#Be:hover {
	color: #dee955;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Beryllium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #dee955;
	}
#B {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #3aefb6;
	border: solid 3px;
	text-shadow: 0 0 10px #3aefb6;
	transition: transform .1s
	}
#B:hover {
	color: #3aefb6;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/boron.jpg); 
	background-size: 100px;
	background-position: center;
	box-shadow: 0 0 10px #3aefb6;
	}
#C {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#C:hover {
	color: #52ee61;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/carbon.png); 
	background-size: 60px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#N {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#N:hover {
	color: #52ee61;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/nitrogen.jpg); 
	background-size: 250px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#O {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#O:hover {
	color: #52ee61;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/oxygen.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#F {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#F:hover {
	color: #52ee61;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/fluorine.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#Ne {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #759fff;
	border: solid 3px;
	text-shadow: 0 0 10px #759fff;
	transition: transform .1s
	}
#Ne:hover {
	color: #759fff;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/neon.jog.jpg); 
	background-size: 70px;
	background-position: center;
	box-shadow: 0 0 10px #759fff;
	}
#Na {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ecbe59;
	border: solid 3px;
	text-shadow: 0 0 10px #ecbe59;
	transition: transform .1s
	}
#Na:hover {
	color: #ecbe59;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/sodium.jpg); 
	background-size: 100px;
	background-position: center;
	box-shadow: 0 0 10px #ecbe59;
	}
#Mg {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #dee955;
	border: solid 3px;
	text-shadow: 0 0 10px #dee955;
	transition: transform .1s
	}
#Mg:hover {
	color: #dee955;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/magnesium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #dee955;
	}
#Al {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s
	}
#Al:hover {
	color: #4cddf3;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/aluminium.jpg); 
	background-size: 100px;
	background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#Si {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #3aefb6;
	border: solid 3px;
	text-shadow: 0 0 10px #3aefb6;
	transition: transform .1s
	}
#Si:hover {
	color: #3aefb6;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/silicon.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #3aefb6;}
#P {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#P:hover {
	color: #52ee61;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/phosphorus.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#S {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#S:hover {
	color: #52ee61;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/sulfur.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#Cl {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#Cl:hover {
	color: #52ee61;
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/chlorine.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#Ar {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #759fff;
	border: solid 3px;
	text-shadow: 0 0 10px #759fff;
	transition: transform .1s
	}
#Ar:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Argon.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #759fff;}
#K {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ecbe59;
	border: solid 3px;
	text-shadow: 0 0 10px #ecbe59;
	transition: transform .1s
	}
#K:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/potassium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #ecbe59;
	}
#Ca {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #dee955;
	border: solid 3px;
	text-shadow: 0 0 10px #dee955;
	transition: transform .1s
	}
#Ca:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/calcium.jpg); 
	background-size: 130px;
	background-position: center;
	box-shadow: 0 0 10px #dee955;
	}
#Sc {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Sc:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/scandium.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;
	}
#Ti {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Ti:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/titanium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#V {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#V:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/vanadium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Cr {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Cr:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/chromium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;
	}
#Mn {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Mn:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/manganese.jpg); 
	background-size: 100px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Fe {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Fe:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/iron.png); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Co{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Co:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/cobalt.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Ni{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Ni:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/nickel.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Cu{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	}
#Cu:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/copper.jpg); 
	background-size: 250px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Zn{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	}
#Zn:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/zinc.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Ga {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s
	}
#Ga:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/gallium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#Ge {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #3aefb6;
	border: solid 3px;
	text-shadow: 0 0 10px #3aefb6;
	transition: transform .1s
	}
#Ge:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/germanium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #3aefb6;}
#As {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #3aefb6;
	border: solid 3px;
	text-shadow: 0 0 10px #3aefb6;
	transition: transform .1s
	}
#As:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/arsenic.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #3aefb6;}
#Se {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#Se:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/selenium.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#Br {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#Br:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/bromine.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#Kr {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #759fff;
	border: solid 3px;
	text-shadow: 0 0 10px #759fff;
	transition: transform .1s
	}
#Kr:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/krypton.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #759fff;}
#Rb {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ecbe59;
	border: solid 3px;
	text-shadow: 0 0 10px #ecbe59;
	transition: transform .1s
	}
#Rb:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Rb.jpg); 
	background-size: 180px;
	background-position: center;
	box-shadow: 0 0 10px #ecbe59;
	}
#Sr {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #dee955;
	border: solid 3px;
	text-shadow: 0 0 10px #dee955;
	transition: transform .1s
	}
#Sr:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Sr.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #dee955;
	}
#Y {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Y:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Y.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Zr {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Zr:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Zr.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Nb {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Nb:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Nb.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Mo {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Mo:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Mo.jpg); 
	background-size: 120px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Tc {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Tc:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Tc.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Ru {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Ru:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Ru.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Rh{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Rh:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Rh.jpg); 
	background-size: 150px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Pd{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Pd:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Pd.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Ag{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	}
#Ag:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Ag.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Cd{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	}
#Cd:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Cd.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#In {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s
	}
#In:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/In.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#Sn {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s
	}
#Sn:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Sn.jpg); 
	background-size: 100px;
	background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#Sb {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #3aefb6;
	border: solid 3px;
	text-shadow: 0 0 10px #3aefb6;
	transition: transform .1s
	}
#Sb:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Sb.jpg); 
	background-size: 300px;
	background-position: center;
	box-shadow: 0 0 10px #3aefb6;}
#Te {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #3aefb6;
	border: solid 3px;
	text-shadow: 0 0 10px #3aefb6;
	transition: transform .1s
	}
#Te:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Te.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #3aefb6;}
#I {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #52ee61;
	border: solid 3px;
	text-shadow: 0 0 10px #52ee61;
	transition: transform .1s
	}
#I:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/I.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #52ee61;}
#Xe {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #759fff;
	border: solid 3px;
	text-shadow: 0 0 10px #759fff;
	transition: transform .1s
	}
#Xe:hover {
	text-shadow: 0 1px 1px black;
	transform: scale(2);
	background-image: url(Period/Xe.jpg); 
	background-size: 200px;
	background-position: center;
	box-shadow: 0 0 10px #759fff;}
#Cs {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ecbe59;
	border: solid 3px;
	text-shadow: 0 0 10px #ecbe59;
	transition: transform .1s
	}
#Cs:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Cs.jpg); background-size: 280px; background-position: center;
	box-shadow: 0 0 10px #ecbe59;
	}
#Ba {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #dee955;
	border: solid 3px;
	text-shadow: 0 0 10px #dee955;
	transition: transform .1s
	}
#Ba:hover {
	text-shadow: 0 1px 1px black; box-shadow: 0 0 10px #dee955; transform: scale(2); background-image: url(Period/Ba.jpg); background-size: 200px; background-position: center;
	}
#Ln {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #7e455d;
	border: solid 3px;
	transition: transform .1s
	}
#Ln:Hover {
    cursor:not-allowed;
 }
#Hf {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Hf:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Hf.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Ta {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Ta:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Ta.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#W {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	box-shadow: 0 0 10px #fd8673;}
#W:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/W.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Re {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	}
#Re:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Re.jpg); background-size: 100px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Os {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Os:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Os.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Ir{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	}
#Ir:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Ir.jpg); background-size: 120px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Pt{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Pt:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Pt.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Au{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	}
#Au:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Au.jpg); background-size: 140px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Hg{
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s;
	}
#Hg:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Hg.jpg); background-size: 100px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Tl {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s
	}
#Tl:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Tl.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#Pb {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s
	}
#Pb:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Pb.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#Bi {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s
	}
#Bi:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Bi.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#Po {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s;
	box-shadow: 0 0 10px #4cddf3;}
#Po:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Po.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#At {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #3aefb6;
	border: solid 3px;
	text-shadow: 0 0 10px #3aefb6;
	transition: transform .1s
	}
#At:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/At.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #3aefb6;}
#Rn {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #759fff;
	border: solid 3px;
	text-shadow: 0 0 10px #759fff;
	transition: transform .1s
	}
#Rn:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Rn.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #759fff;}
#Fr {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ecbe59;
	border: solid 3px;
	text-shadow: 0 0 10px #ecbe59;
	transition: transform .1s
	}
#Fr:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Fr.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ecbe59;
	}
#Ra {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #dee955;
	border: solid 3px;
	text-shadow: 0 0 10px #dee955;
	transition: transform .1s;
	}
#Ra:hover {
	text-shadow: 0 1px 1px black; box-shadow: 0 0 10px #dee955; transform: scale(2); background-image: url(Period/Ra.jpg); background-size: 200px; background-position: center;
	}
#An {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #6b4c72;
	border: solid 3px;
	transition: transform .1s;
	}
#An:hover {
    cursor:not-allowed;
 }
#Rf {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Rf:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Rf.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Db {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Db:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Db.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Sg {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Sg:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Sg.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Hf {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Hf:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Hf.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Bh {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Bh:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Bh.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Hs {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Hs:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Hs.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Mt {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #cccccc;
	border: solid 3px;
	text-shadow: 0 0 10px #cccccc;
	transition: transform .1s
	}
#Mt:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Mt.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #cccccc;}
#Ds {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #cccccc;
	border: solid 3px;
	text-shadow: 0 0 10px #cccccc;
	transition: transform .1s
	}
#Ds:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Ds.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #cccccc;}
#Rg {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #cccccc;
	border: solid 3px;
	text-shadow: 0 0 10px #cccccc;
	transition: transform .1s
	}
#Rg:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Rg.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #cccccc;}
#Cn {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #fd8673;
	border: solid 3px;
	text-shadow: 0 0 10px #fd8673;
	transition: transform .1s
	}
#Cn:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Cn.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #fd8673;}
#Nh {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #cccccc;
	border: solid 3px;
	text-shadow: 0 0 10px #cccccc;
	transition: transform .1s
	}
#Nh:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Nh.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #cccccc;}
#Fl {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #4cddf3;
	border: solid 3px;
	text-shadow: 0 0 10px #4cddf3;
	transition: transform .1s
	}
#Fl:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Fl.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #4cddf3;}
#Mc {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #cccccc;
	border: solid 3px;
	text-shadow: 0 0 10px #cccccc;
	transition: transform .1s
	}
#Mc:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Mc.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #cccccc;}
#Lv {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #cccccc;
	border: solid 3px;
	text-shadow: 0 0 10px #cccccc;
	transition: transform .1s
	}
#Lv:hover {
	text-shadow: 0 0 1px black; transform: scale(2); background-image: url(Period/Lv.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #cccccc;}
#Ts {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #cccccc;
	border: solid 3px;
	text-shadow: 0 0 10px #cccccc;
	transition: transform .1s
	}
#Ts:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Ts.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #cccccc;}
#Og {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #cccccc;
	border: solid 3px;
	text-shadow: 0 0 10px #cccccc;
	transition: transform .1s
	}
#Og:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Og.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #cccccc;}
#La {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#La:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/La.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Ce {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Ce:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Ce.jpg); background-size: 140px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Pr {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s;}
#Pr:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Pr.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Nd {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Nd:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Nd.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Pm {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s;
	}
#Pm:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Pm.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Sm {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Sm:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Sm.jpg); background-size: 140px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Eu {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Eu:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Eu.jpg); background-size: 150px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Gd {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Gd:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Gd.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Tb {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Tb:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Tb.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Dy {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Dy:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Dy.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Ho {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Ho:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Ho.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Er {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Er:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Er.jpg); background-size: 170px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Tm {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Tm:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Tm.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Yb {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Yb:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Yb.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Lu {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #ec77a3;
	border: solid 3px;
	text-shadow: 0 0 10px #ec77a3;
	transition: transform .1s
	}
#Lu:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Lu.jpg); background-size: 150px; background-position: center;
	box-shadow: 0 0 10px #ec77a3;}
#Ac {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Ac:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Ac.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Th {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Th:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Th.jpg); background-size: 100px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Pa {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Pa:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Pa.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#U {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#U:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/U.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Np {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Np:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Np.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Pu {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Pu:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Pu.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Am {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Am:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Am.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Cm {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Cm:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Cm.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Bk {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Bk:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Bk.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Cf {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Cf:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Cf.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Es {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Es:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Es.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Fm {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Fm:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Fm.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;}
#Md {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Md:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Md.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;
	}
#No {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#No:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/No.jpg); background-size: 200px; background-position: center;
	box-shadow: 0 0 10px #c686cc;
	}
#Lr {
	background-image: url(Period/Elements.png);
	overflow: hidden;
	color: #c686cc;
	border: solid 3px;
	text-shadow: 0 0 10px #c686cc;
	transition: transform .1s;
	}
#Lr:hover {
	text-shadow: 0 1px 1px black; transform: scale(2); background-image: url(Period/Lr.jpg); background-size: 200px; background-position: center;
	box-shadow:	0 0 10px #c686cc;
	}
footer{
	height: 100px;
	width: 100%;
}

footer p{
	text-align: center;
	color: white;
	padding-top: 35px;
}
